


<!-- esta variable esta declarada en app.component.ts-->
<h1>{{title}}</h1>
<div class=" border border-primary p-2">
  <app-boton></app-boton>

</div>

<div class="row ml-3 mb-3 mt-3">
    <div class="col">
      <ul class="list-group mt-2">
          <li *ngFor="let p of productos"
              (click)="seleccionarProducto(p)" 
              class="list-group-item {{p==pSeleccionado?'active':''}}"> 
                    ID : {{p.id}} , Nombre : {{p.nombre}} , Gluten : {{p.gluten}}, Categoria : {{p.categoria.nombre}}
          </li>
      </ul>
    </div>
    <div class="col">
      
      <ul class="list-group mt-2">
        <li class="list-group-item"> 
          <h2>Detalle del Producto </h2>
        </li>
        <li class="list-group-item"> 
          <div class="border" style="position: relative;" >
            <img src="{{pSeleccionado.imagen}}" alt="Smiley face" height="200" width="200" style="object-fit: scale-down;">
            <div *ngIf="pSeleccionado.gluten" class="bg-danger rounded-circle position-absolute" style="width: 30px; height: 30px; top: 5px;left: 330px;">
            </div>
            <div *ngIf="!pSeleccionado.gluten" class="bg-success rounded-circle position-absolute" style="width: 30px; height: 30px; top: 5px;left: 330px;">
            </div>
          </div>
        </li>
        
        <li class="list-group-item"> 
          ID : {{pSeleccionado.id}}
        </li>
        <li class="list-group-item"> 
          Nombre : {{pSeleccionado.nombre}}
        </li>
        <li class="list-group-item"> 
          Precio : {{pSeleccionado.historico[pSeleccionado.historico.length-1].precio}}
        </li>
        <li class="list-group-item"> 
          Gluten : {{pSeleccionado.gluten}}
        </li>
        <li class="list-group-item"> 
          Categoria : {{pSeleccionado.categoria.nombre}}
        </li>
        <li class="list-group-item"> 
          <ul class="list-group mt-2">
            <p>
              Historico de precios :
            </p>
            <li *ngFor="let h of pSeleccionado.historico"
                class="list-group-item">
                    <ul class="list-group">
                      <li class="list-group-item">
                        Precio : {{h.precio}}
                      </li>
                      <li class="list-group-item">
                        Fecha : {{h.fecha}}
                      </li>
                    </ul>
            </li>
          </ul>
        </li>
    </ul>
    </div>
</div>

