<p>Jugando con arrays!</p>


<div class="row">
    <div class="col">
        <pre>
            {{frutas | json}}
        </pre>
    </div>
    <div class="col">
        <p>Precio Total: <b>{{total}}</b></p>
        <p>Precio Total: <b>{{totalDescuemto}}</b></p>
        <p>Nombre del Array : <b>{{aSoloNombres}}</b></p>
        <p>Nombre Frutas con descuento : <b>{{frutasConDescuento}}</b></p>
        <p>Nombre frutas amarillas : <b>{{fruasAmarillas}}</b></p>
        <p>Precio total de frutas amarilas : <b>{{totalFrutasAmarillas}}</b></p>
        <p>Buscar primera fruta verde : <b>{{primeraFrutaVerde.nombre}}</b></p>todosLosColores 
        <p>Todos los colores : <b>{{todosLosColores}}</b></p>  
    </div>
</div>