.container{
    background-color: plum;
}


.container-tareas {
    width: 70vw;
    margin: auto;
    background-color: pink;
    padding: 20px;

    .crear {
        display: flex;
        margin-bottom: 1rem;

        input{
            width: 70%;
            margin-right: 2%;
        }

        buttton {
            width: 20;
        }
    }

}

li {

    list-style: none;
    display: flex;

    &:hover {
        background-color: rgba(255,0,0, 0.3);
    }

    input[type="text"] {
        flex-grow: 2;
    }

    input[type="text"].titulo{
        font-weight: 500;
        margin-left: 10px;
    }

    input[type="text"].completada{
        text-decoration: line-through;
        font-weight: 100;
        color: rgb(119, 113, 113);
    }

}