<h1>¡¡SASS!!</h1>

<p>SASS es un precompilador de CSS y soporte dos formatos: <code>.sass</code> y <code>.scss</code>. Que los convierte en un .css</p>
<p>vamos a usasr formato <code>.scss</code> porque es el mas sencillo de aprender puesto que soporta que escribamos en css.</p>
<p>Documentacion oficial : <a href="https://sass-lang.com/" target="_blank">https://sass-lang.com/</a></p>
<p>Existen otros precompoladores como <code>LESS</code> y  <code>STYLUS</code>.</p>
<span class="borde_redondo10"><code>10</code>
    </span>
<span class="borde_redondo50"><code>50</code></span>

<button class="boton boton_verde">Soy verde</button>
<button class="boton boton_rojo">Cancel</button>