.listaRecetario:hover{
    background-color: #BA741A;
}

.listaRecetarioGlutenCircle{
    right: 10px; 
    top: 20px; 
    border: 1px solid black; 
    border-radius: 25px; 
    position: absolute; 
    width: 25px; 
    height: 25px;
    &:hover{
        background-color: #BA741A;
    }
}

.nombreCocinero{
    color: #97A09D;
}

.detalleReceta {
    border: 1px solid #BA741A;
}

.nombreDetalleReceta {
    color : white; 
    width: 100%; 
    border: 1px solid #BA741A; 
    background-color: #BA741A;
}

.glutenBox{
    background-color: green; 
    right: 30px; 
    top: 20px; 
    border: 1px solid black; 
    border-radius: 25px; 
    position: absolute; 
    width: 25px; 
    height: 25px;
}

.imagenReceta{
    width: 100%; 
    height: 250px; 
}

.formTitulo{
    margin: 0;
    
}